
.containerFather {
    display: flex;
    justify-self: center;
    align-items: center;
    width: 1350px;
    height: 100%;
    border: 3px solid rgb(159, 155, 76);
}

.conainerAlineacion {
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    height: 100%;
    border: 2px solid rgb(71, 255, 132);
}

.alignTittle {
    margin-inline: 57px;
    border: 1px solid rgb(179, 100, 161);
}

.tittle {
    font-family: 'Syncopate', sans-serif;
    font-weight: lighter;
    padding-block: 1rem;

}
.images{
    display: flex;
    justify-content: center;
    gap: 2rem;
    border: 1px solid rgb(179, 100, 178);
    height: 100%;
}