@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Biryani:wght@900&family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');


.presentation{
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    padding-block: 1rem;
}
.name{
    width: 350px;
    font-family: 'Gravitas One', serif;
        font-size: 65px;
}

.colorName{
    display: flex;
    flex-direction: row;
}

.headline{
    font-size: 45px;
    font-family: 'Inter', sans-serif;
    font-weight:bolder;
    padding-block: .2rem;
    color: #0A3030;
}


.ContainerPicture {
    width: 390px;
    height: 390px;
    border-radius: 100%;
    overflow: hidden;
    box-shadow: 0 5px 20px 1px rgba(255, 255, 255, 0.333);
}

.ContainerPicture img {
    width: 100%;
    height: auto;
    display: block;
}

.containerBtns{
    display: flex;
    /* border: 1px solid white; */
    width: 100%;
    height: 50px;
    margin-bottom: .5rem;
}

.box{
        border: 1px solid white;
        padding-inline: 1rem;
        margin-top: 3rem;
        cursor: pointer;
        align-self: center;
        font-family: 'Gravitas One', serif;
        font-size: 30px;
        transition: transform 1.8s ease;
        text-decoration: none;
        color: white;
}

.box:hover{
    background-color: white;
    color: #000000;
    /* scale: 1.09; */
    transform: scale(1.10);
    box-shadow: 0 0 5px white;
}



@media (max-width:320px)   {

    .headline{
        font-size: 10px;
    }
    .name{
        font-size: 45px;
        width: 100%;
    }
    .presentation{
        font-size: 20px;
    }
.containerBtns {
    display: block;
   padding-bottom: 9rem;
   margin-top: 1rem; 
   width: 100%;
}
}

@media (max-width:600px)   {

.headline{
font-size: 25px;
    }

.tittle{
    /* width: 200px; */
text-align: center;
}
.Container{
padding-block: 1rem;

}

.ContainerPicture {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;

    }

    .ContainerPicture img{
        display: flex;
        justify-content: center;
        align-items: center;
        object-fit: cover;
        width: 200px;
    }
        .containerBtns {
            display: block;
            padding-bottom: 9rem;
            width: 100%;
        }

        .box{

            display: block;
            border: none;
            margin-block: 1rem;

       }
           .colorName {
               display: flex;
               flex-direction: column;
               align-items: center;
           }

}

@media (max-width:800px) {
.tittle {
        text-align: center;
    }
.ContainerPicture {
    width: 200px;
    height: 200px;
    justify-content: center;
    align-items: center;
    }
    .ContainerPicture img{
        object-fit: cover;
        width: 200px;
    }

        .colorName {
            display: flex;
            flex-direction: column;
            align-items: center;
        }


}
@media (max-width:1000px) {
.tittle {
        text-align: center;
    }
.ContainerPicture {
    width: 200px;
    height: 200px;
    justify-content: center;
    align-items: center;
    }
    .ContainerPicture img{
        object-fit: cover;
        width: 200px;
    }

        .colorName {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

.box {

    font-size: 25px;

}

}