#root {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}



body {
  margin: 0;
  display: flex;
  place-items: center;
  color: #ffffff;
  background-color: #4BAFAF;
  overflow-x: hidden;
}

.App{
  height: 100%;
  width: 100vw;
  border: 2px solid red;
}

.dark-mode {
  color: #ffffff;
  height: 100%;
  background-color: #171717;
  transition: background-color 0.5s, color 0.5s;

}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


.container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
  gap: 5rem;
  padding-top: 4rem;
  margin-bottom: 13rem;
  border: 2px blue solid;

}


.container2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    border: 2px rgb(151, 151, 191) solid;
}
.container3{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border: 5px rgb(20, 20, 185) solid;
}

.btnMode{
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
}


@media (max-width:320px),
(max-width:800px) {
.container1 {
    height: 680px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-top: 1rem;

  }

  .dark-mode {
    height: 100%;


  }

  .container2 {
    height: 100%;
  }

}

@media (min-width: 769px) and (max-width: 900px) {
.container1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-top: 1rem;

  }
  .dark-mode {
    height: 100%;
  }
  .container2 {
    height: 100%;
  }
  .container3 {
    height: 100%;
    
  }
}