#root {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  /* border: 2px red solid; */
  color: #ffffff;
  background-color: #4BAFAF;
}

.App{
  height: 100dvh;
  width: 100vw;
  border: 2px solid red;
}

.dark-mode {
  color: #ffffff;
  background-color: #081527;
  transition: background-color 0.5s, color 0.5s;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.container {
  display: flex;
  justify-content: center;
  /* border: 2px blue solid; */
}