#root {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}
/* 
html{
      background-image: url("../src/assets/img/fondo4.jpg");
        background-repeat: no-repeat;
        background-size: cover;
} */


body {
  margin: 0;
  display: flex;
  place-items: center;
  /* border: 2px red solid; */
  color: #ffffff;
  background-color: #4BAFAF;

  overflow-x: hidden;
}

.App{
  height: 100%;
  width: 100vw;
  border: 2px solid red;

}

.dark-mode {
  color: #ffffff;
  height: 100%;
  background-color: #171717;
  transition: background-color 0.5s, color 0.5s;

}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding-top: 4rem;
  margin-bottom: 9rem;
  border: 2px blue solid;
}

.container2{
    display: flex;
      justify-content: center;
      align-items: center;
        border: 2px rgb(151, 151, 191) solid;
}

.btnMode{
  border: none;
    outline: none;
        background-color: transparent;
          color: white;
          padding: 10px 20px;
          cursor: pointer;
}

@media (max-width:600px){

  .container1{
    display: flex;
    flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;
        padding-top: 1rem;
          margin-bottom: 1rem;
  }


}