
.innerCarousel{
    display: flex;
    /* background-color: aquamarine; */
    width: 1420px;

}


.carousel{
    /* width:100%; */
    cursor: grab;
    overflow: hidden;
            /* background-color: pink; */
}

.item{
    padding: 50px;

}

/* .item iframe{
    pointer-events: none;
} */

/* .item{
    display: flex;
    flex-direction: column;
    width: 900px;
    justify-content: center;
    border: 2px solid blue;
    margin-block: 1rem;
    padding-inline: 5rem;
    

} */