
.conainerAlineacion {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 100%;
    height: 100%;
    /* border: 2px solid rgb(71, 255, 132); */
    padding-block: 5rem;
}

.alignTittle {
    width: 1350px;
    margin-inline: 57px;
    border: 1px solid rgb(179, 100, 161);
}

.tittle {
    font-family: 'Syncopate', sans-serif;
    font-weight: lighter;
    padding-block: 1rem;
    border: 1px solid rgb#e0920d;

}

.images {
    display: flex;
    justify-content: center;
    gap: 2rem;
    border: 1px solid rgb(211, 189, 44);
    height: 100%;
}

.picture {
    width: 100px;
    margin-inline: 2rem;
    transition-duration: 1s;
    transition-timing-function: steps(50)
}

.picture:hover {
    color: #000000;
    transform: scale(1.45);
}







        @media (max-width:320px),
        (max-width:800px) {

        .conainerAlineacion {
                width: 100%;
                    }
        .alignTittle {
                width: 100%;
                margin-inline: 0px;
                }
         .tittle {
            font-size: 45px;
                text-align: center;
                width: 100%;
              
         }

         .images {
             width: 100%;
         }
         .picture {
             width: 100%;
         }
        } 


                @media (min-width: 769px) and (max-width: 900px) {
                    .conainerAlineacion {
                        width: 100%;
                    }
        
                    .alignTittle {
                        width: 100%;
                    }
        
                    .tittle {
                        font-size: 64px;
                        text-align: center;
                        width: 100%;
                    }
        
                    .images {
                        width: 100%;
                    }
        
                    .picture {
                        width: 100%;
                    }
                }

                                @media (min-width: 900px) and (max-width: 1200px) {
                                    .conainerAlineacion {
                                        width: 100%;
                                    }
                
                                    .alignTittle {
                                        width: 100%;
                                    }
                
                                    .tittle {
                                        font-size: 64px;
                                        text-align: center;
                                        width: 100%;
                                    }
                
                                    .images {
                                        width: 100%;
                                    }
                
                                    .picture {
                                        width: 100%;
                                    }
                                }